html,
body {
  height: 100%;
}

body {
  @extend %roboto-con-300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: $default;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  position: relative;
  margin: 0 auto;
  display: table;
  
  @extend %raleway-600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: $title;

  &::after {
    content: "/";
    position: absolute;
    top: 0;
    right: -51px;

    @extend %raleway-600;
    font-size: 72px;
    line-height: 86px;
    color: #00b2a0;
  }
}

// .wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100%;
// }

// .main {
// 	flex: 1 0 auto;
// }
// .footer {
// 	flex: 0 0 auto;
// }
