html, body {height: 100%;}

body {
@extend %roboto-con-400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.6px;
color: $default;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

// .wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100%;
// }

// .main {
// 	flex: 1 0 auto;
// }
// .footer {
// 	flex: 0 0 auto;
// }