@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";
// ===
// === HEADER ===
.header {
  &__inner {
    padding: 35px 0;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-right: 184px;
  }

  &__image {
    display: block;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    margin-top: 4px;
    padding: 0 1px 4px;
    border-bottom: 1px solid transparent;
    transition: $transition-fast;

    & + & {
      margin-left: 43px;
    }

    &:hover {
      border-bottom-color: $accent;
    }
  }

  &__link {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }
}
// === / HEADER ===

// === HERO ===
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 45vh;
    width: 100%;
    background: linear-gradient(
      180deg,
      #01353e 0%,
      rgba(51, 51, 51, 0.595076) 31.64%,
      rgba(51, 51, 51, 0.222586) 74.35%,
      rgba(51, 51, 51, 0) 99.87%
    );
  }

  &__title {
    @extend %raleway-700;
    font-size: 200px;
    line-height: 235px;
    color: #0d302c;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    color: #000;
  }

  &__scroll {
    position: absolute;
    display: inline-block;
    bottom: 10%;

    animation: moving 6s linear infinite;
  }

  @keyframes moving {
    0% {
      bottom: 10%;
    }
    50% {
      bottom: 15%;
    }
    100% {
      bottom: 10%;
    }
  }
}
// === / HERO ===

// === ABOUT ===
.about {
  padding: 200px 0 170px;

  &__title {
    margin-bottom: 257px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    max-width: 490px;

    & + & {
      margin-right: 120px;
    }
  }

  &__text {
    margin-bottom: 30px;
    min-height: 92px;
  }
}
// === / ABOUT ===

// === ABOUT-SCHOOL ===
.about-school {
  padding: 200px 0 200px;
  background-color: $bg;

  &__title {
    margin-bottom: 100px;
  }
  &__info-wrapper {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
  &__info-item {
    max-width: 350px;
  }
  &__item-box {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info-image {}
  &__info-title {
    margin-left: 10px;
    max-width: 146px;

    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
  }
  &__info-text {}
  &__stats-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__stats-infolines {
    min-width: 350px;
  }
  &__infolines-item {}
  &__infoline-box {
    width: 100%;
  }
  &__infoline-image {
    display: inline-block;
  }
  &__infoline-number {
    margin-left: 10px;
    font-size: 24px;
    line-height: 1;
  }
  &__infoline-subtitle {}
  &__stats-text {
    max-width: 600px;
  }
  &__stats-paragraph {
    &+&{
      margin-top: 30px;
    }
  }
}
// === / ABOUT-SCHOOL ===